{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>student details</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
 
  <!-- Links -->
  <ul class="nav navbar-nav navbar-right">
     
       <li class="nav-item ">
          <a class="nav-link" href="{% url 'log' %}">Login</a>

        </li>
  </ul>
</nav>
</body>
</html>